<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<distributable />
	<display-name>qier</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:conf/app-context.xml</param-value>
	</context-param>
	<jsp-config>
		<taglib>
			<taglib-uri>http://tiesh.liebianzhe.com/tag/auth</taglib-uri>
			<taglib-location>/WEB-INF/classes/com/lymava/base/safecontroler/tag/auth.tld</taglib-location>
		</taglib>
	</jsp-config>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.lymava.base.task.TaskListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.lymava.qier.listener.QierContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>FaceSafeControler</filter-name>
		<filter-class>com.lymava.base.safecontroler.FaceSafeControler</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FaceSafeControler</filter-name>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>EncrptFileter</filter-name>
		<filter-class>com.lymava.base.face.fileter.EncrptFileter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncrptFileter</filter-name>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>SafeControler</filter-name>
		<filter-class>com.lymava.base.safecontroler.SafeControler</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SafeControler</filter-name>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>UserFrontSafeControler</filter-name>
		<filter-class>com.lymava.qier.filter.UserFrontSafeControler</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserFrontSafeControler</filter-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>WeixinCallBackMessageFilter</filter-name>
		<filter-class>com.lymava.wechat.opendevelop.WeixinCallBackMessageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WeixinCallBackMessageFilter</filter-name>
		<url-pattern>*.weixin</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- <error-page> <error-code>404</error-code> <location>/404.jsp</location> 
		</error-page> <error-page> <error-code>500</error-code> <location>/500.jsp</location> 
		</error-page> -->
</web-app>